<div class="button-group">
  <form class="example-form">
    <mat-form-field class="input-width" appearance="outline">
      <mat-label>Lokacija</mat-label>
      <input
        matInput
        [(ngModel)]="inputValue"
        name="location"
        (keyup.enter)="searchForLocation()"
        #tooltip="matTooltip"
        matTooltip="Provedite analizu unošenjem lokacija odvojenih zarezom."
        [matTooltipPosition]="'left'"
      />
      <span *ngIf="isError" class="error">Unos nije valjan</span>
      <mat-icon matSuffix (click)="searchForLocation()">search</mat-icon>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    class="map-file-button"
    #tooltip="matTooltip"
    matTooltip="Provedite analizu učitavanjem CSV datoteke."
    [matTooltipPosition]="'left'"
    (click)="onCSVUploadClick()"
  >
    <mat-icon class="icon">upload</mat-icon>CSV
  </button>

  <button
    mat-raised-button
    [matMenuTriggerData]="userMenuData"
    [matMenuTriggerFor]="menu"
    class="map-menu-button"
  >
    Odaberi sloj
  </button>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-menuWidth="menuWidth">
      <div [style.width.px]="menuWidth">
        <button
          mat-menu-item
          *ngFor="let item of menuItems"
          (click)="onMenuItemClick(item)"
        >
          {{ item.name }}
          <mat-icon matSuffix class="check-icon" *ngIf="item.checked"
            >check</mat-icon
          >
        </button>
      </div>
    </ng-template>
  </mat-menu>

  <button
    mat-raised-button
    class="map-menu-button"
    (click)="onClearLayersClick()"
  >
    Očisti slojeve
  </button>

  <button
    mat-raised-button
    class="map-menu-button"
    (click)="onClearAnalysesClick()"
  >
    Očisti analize
  </button>
</div>
