.button-group {
  position: absolute;
  margin-top: 5%;
  z-index: 1;
  right: 1%;
  width: 8%;
}

.map-file-button {
  background: #424242;
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  width: 100%;
  margin-bottom: 15px;
}

.map-address-button {
  background: #424242;
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  width: 100%;
}

.map-menu-button {
  background: #424242;
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  width: 100%;
  margin-top: 2px;
}

.icon {
  margin-right: 1px;
}
